<template>
  <div>
    Select inline
  </div>
</template>

<script>
export default {
  name: 'SelectEditInline',
  data () {
   return {}
  },
  
  methods: {
  }
}

</script>

<style scoped>

</style>